* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section start */
header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 0px;

}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 32px;
    align-items: center;

}

nav ul li {
    list-style: none;
}

.gamer {
    font-size: 3rem;
    font-weight: 700;
}

.gamer-g {
    color: #FF42A5;
}

.follow {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

#youtube {
    color: red;
    margin: 0 15px;
}

/* header section end */

/* got section start */
.got-main-two {
    max-width: 1140px;
    margin: 0 auto;

    display: flex;



}

.got-main {
    justify-content: center;
    background-image: url(./images/Group\ 14.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 -6px 15px -10px #d6d2d2;
}

.got-extra {
    width: 50%;
    display: flex;
    align-items: center;


}

.got-info {
    /* width: 50%; */




}


.got-img {
    width: 50%;
}

.got-img img {
    width: 100%;
}

.play {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.gt {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5rem;
    margin-bottom: 24px;
}

.got-li li {
    color: #534C64;
    font-size: 20px;
    list-style: none;
    margin-bottom: 17px;
}

.got-btn .ne {
    color: white;
    background-color: #FF42A5;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    font-size: 1rem;
    font-weight: 600;
}

.got-btn .wo {
    color: white;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    font-size: 1rem;
    font-weight: 600;
}

.got-btn {
    display: flex;
    gap: 10px;
    margin-top: 3rem;
}

.got {
    color: #FF42A5;
    margin-right: 10px;
}

/* got section end */

/* online game start */
.online-game-main {
    max-width: 1140px;
    margin: 120px auto;
}

.online-game-main h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.online-game-main h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.online-game-main> p {
    text-align: center;
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3rem;

}
.online-game-box{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    flex: 1;
    
}
.online-img{
    width: 100%;
    margin-bottom: 1.5rem;
}
.online-p{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.image{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    
}
.content:hover{
    opacity: 1;
}
.content .iii{
    font-size: 1rem;
    color: aliceblue;
    margin-bottom: 10px;
    
}
.content p{
    font-size: 1rem;
    color: #FF42A5;
}


/* online game end */


/* play section start */
.play-main{
    max-width: 1140px;
    margin: 120px auto;
    display: flex;
}
.play-info h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.play-info{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.play-info p{
    text-align: center;
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.play-img{
    width: 50%;
    position: relative;
}
.play-img .gura{
    width: 100%;
   
    
}
.tom{
width: 40%;
height: 40%;
position: absolute;
top:420px;
bottom: 0;
left: -90px;

}
.play-instantly{
    color: #F948B2;
}
/* play section end */











/* mobile device  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;

    }

    nav ul {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .got-main-two {
        flex-direction: column-reverse;
    }

    .got-extra {
        width: 100%;
        justify-content: center;

    }

    .got-main {
        background-position: bottom;

    }

    .got-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .online-game-box{
        grid-template-columns: repeat(1,1fr);
    }
    .play-main{
        flex-direction: column;
    }
    .play-info{
        width: 100%;
    }
    .play-img{
        width: 60%;
        margin:20px auto;
    }
    .tom{
        top: 200px;
        left: -50px;
    }
}